body{margin:0px;}
#wrapper{
	width:300px;
	height:400px;
}
textarea{
	width:290px;
	height:320px;
	color:yellow;
	font-weight:bold;
	font-size:12pt;
	background:#00ccff;
}
input{
	width:290px;
	height:40px;
	border:2px solid #ccccff;
	background:#ffffff;
	font-size:13pt;
}